body {
  background-color: #789;
  margin-top: 10px;
}

.cont {
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.header h1 {
  margin-left: 20px;
}

.main {
  margin: 0 auto;
  width: 100%;
  overflow: auto;
}

.sidebar {
  max-width: 300px;
  background-color: #EFEFFA;
  padding: 10px;
  border-radius: 10px;
  float: left;
}

.gridster {
  position: relative;
}

.gridster-container {
  overflow: auto;
}

.gridster ul li {
  background-color: #EFEFFA !important;
  border-radius: 10px;
}

#summary {
  height: inherit;
  overflow: auto;
}

#summary table {
  background-color: white;
}

#stats-controls * {
  vertical-align: middle;
  overflow: hidden;
  float: left;
  margin-right: 5px;
}

.blur {
  opacity: .25;
}